{% extends 'base.html' %}
{% block body %}
<a href="{% url 'subs:subrediti' subrediti.slug %}">Back to {{ subrediti.title }}</a>
<h3>Creating thread in {{ subrediti.title }}</h3>
{% if form.errors %}
{{ form.non_field_errors }}
{{ form.errors.name }}
{% endif %}
<form class="post-form" method="POST">
{% csrf_token %}
<label>Thread name</label>
<input type="text" name="title" placeholder="Name your thread">
<label>Content</label>
<textarea type="text" name="post" placeholder="Write your initial post"></textarea>
<input type="submit" value="Create">
</form>
{% endblock %}