{% extends 'base.html' %}
{% block body %}
<h1 class="main-title">{{ subrediti.title }}</h1>
<a href="{% url 'subs:create_thread' %}?sub={{ subrediti.id }}">Nova thread</a>
<a href="{% url 'subs:subscribe' %}?sub={{ subrediti.id }}">
    {% if subscribed %}
        Desinscrever-se
    {% else %}
        Inscrever-se
    {% endif %}
</a>

<div class="forum-container">
    <div class="subrediti-list">
        {% for thread in subrediti.threads.all %}
        <div class="subrediti-card">
            <h4>
                <a href="{% url 'subs:thread' thread.pk %}">
                    {{ thread.title }}
                </a> 
                by <a href="{% url 'users:profile' thread.author.pk %}">
                    {{ thread.author }}
                </a> at {{ thread.created }}
            </h4>
            <div class="karma-button">
                {{ thread.vote_count }}<br>
                <a href="{% url 'common:vote' %}?target_type=thread&target_id={{ thread.id }}"><button>↑</button></a>
            </div>
        </div>
        {% empty %}
        Awww, ninguém criou uma thread :(
        {% endfor %}
    </div>
</div>
{% endblock %}