{% extends 'base.html' %}
{% block body %}
<h1 class="main-title">{{ thread.title }}</h1>
<a href="{% url 'subs:create_post' %}?thread={{ thread.id }}">Novo post</a>
<div class="forum-container">
    <div class="subrediti-list">
        {% for post in thread.posts.all %}
        <div class="subrediti-card">
            <div>
                <a href="{% url 'users:profile' thread.author.pk %}">
                    {{ post.author }}
                </a> at {{ post.created }}
                <div>
                    {{ post.content }}
                </div>
                {% if request.user.id == post.author.id %}
                <a href="{% url 'subs:delete_post' post.pk %}">Delete post</a>
                {% endif %}
            </div>
            <div class="karma-buttons">
                {{ thread.vote_count }}<br>
                <a href=""><button>↑</button></a><br>
                <button>↓</button>
            </div>
        </div>
        {% empty %}
        Awww, ninguém postou ainda :(
        {% endfor %}
    </div>
</div>
{% endblock %}