body {
    margin: 0;
}
footer {
    text-align: center;
}
.navbar {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #CDE3F8;
    height: 50px;
    border-bottom: 1px solid #5F99CF;
}
.nav-links {
    background-color: #ecf4fb;
    display: flex;
    justify-content: space-around;
    width: 300px;
}
.nav-link {
    color: blue;
}
.site-logo {
    width: 100px;
}
.profile-container {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #EEF2F5;
}
.profile-info {
    text-align: center;
}
.profile-info div {
    padding-top: 5px;
    font-weight: bold;
    font-size: 20px;
}
.profile-pic {
    width: 250px;
    border-radius: 100%;
}
.divider {
    height: 100%;
    border-right: 1px solid black;
    margin-right: -3px;
}
.posting-info {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}