{% extends 'base.html' %}

{% block body %}
    <div>
        {% if user.is_authenticated %}
            {% if subscriptions %}
                {% for sub in subscriptions %}
                    <a href="">{{ sub.subrediti.threads.first }}</a>
                {% endfor %}
            {% else %}
                You don't have any subscriptions yet.
            {% endif %}
        {% else %}
            {% for subrediti in subreditis %}
                <a href="">{{ subrediti.threads.first }}</a>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}