{% extends 'base.html' %}

{% block body %}
    <div class="list-container">
        {% if user.is_authenticated %}
            {% if subscriptions %}
                {% for sub in subscriptions %}
                    <div class="list-thread"><a href="">{{ sub.subrediti.threads.first }}</a></div>
                {% endfor %}
            {% else %}
                You don't have any subscriptions yet.
            {% endif %}
        {% else %}
            {% for subrediti in subreditis %}
            <div class="list-thread"><a href="">{{ subrediti.threads.first }}</a></div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}