{% extends 'base.html' %}
{% block body %}
<div class="profile-container">
    <div class="profile-info">
        <img class="profile-pic" src="{{ user.avatar.url }}">
        <div>u/{{ user.username }}</div>
        <div>{{ user.karma }} Karma</div>
    </div>
    <div class="posting-info">
        <div class="threads">
            {% if user.threads %}
                {% for thread in user.threads.all %}
                <div class="card">
                    <div class="karma-buttons">
                        {{ thread.vote_count }}<br>
                        <button>↑</button><br>
                        <button>↓</button>
                    </div>
                    <div class="card-content">
                        <div>
                            {{ thread.title }} 
                            by <a href="{% url 'users:profile' thread.author.pk %}">
                                {{ thread.author }}
                                </a> in 
                                <a href="">{{ thread.subrediti }}</a></div>
                        <div>{{ post.content }}</div>
                    </div>
                </div>
                {% endfor %}
            {% else %}
                Esse usuário ainda não criou nenhuma thread :(
            {% endif %}
        </div>
        <div class="divider"></div>
        <div class="posts">
            {% if user.posts %}
                {% for post in user.posts.all %}
                <div class="card">
                    <div class="karma-buttons">
                        {{ post.vote_count }}<br>
                        <button>↑</button><br>
                        <button>↓</button>
                    </div>
                    <div class="card-content">
                        <div>
                            {{ post.thread.title }} 
                            by <a href="{% url 'users:profile' post.thread.author.pk %}">
                                {{ post.thread.author }}
                                </a> in 
                                <a href="">{{ post.thread.subrediti }}</a></div>
                        <div>{{ post.content }}</div>
                    </div>
                </div>
                {% endfor %}
            {% else %}
                Esse usuário ainda não postou nada :(
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}